body {
	font-family: "Blinker", sans-serif;
	font-weight: 300;
	/* background-image: radial-gradient(white, lightgray);*/
	background-image: url("../images/bg-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*------------------------------------------------------- Headers */

h1 {
	
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: "Blinker", sans-serif;
	font-weight: 300;
	text-align: right;
	color: #222;
}

h2 {
	margin-top: 40px;
	font-family: "Blinker", sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
	text-shadow: 0 0 2px black;
}

h3 {
	font-size: 1.3rem;
	text-align: center;
	display: block;
}

/*------------------------------------------------------- Header + Navbar    */

#logo {
    max-height: 60px;
}

i {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: center;
}

.navbar {
    background-color: rgba(196,187,175,0.8);
}

/*------------------------------------------------------- Section: Input    */

#input-section {
    margin-top: 120px;
}

.input-wrapper {
	padding: 10px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 15px;
	margin-bottom: 15px;
	margin-right: 0;
	margin-left: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

input[type=text],
input[type=number],
input[type=date],
input[type=time] {
	height: 2rem;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 0;
	border-radius: 5px;
}

input[type=number],
input[type=date] {
	max-width: 150px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input[type=radio] {
	margin-right: 5px;
}

.radio-label {
	margin: 0;
}

.structured-label {
	text-align: right;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#go-button {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: green;
	color: #fff;
	font-weight: 600;
	box-shadow: 0 0 2px white;
	font-size: 1.5rem;
}

.wrapper-center {
	text-align: center;
	margin-top: 30px;
}