body {
	font-family: "Blinker", sans-serif;
	font-weight: 300;
    font-size: 1.1rem;
	background-color: #fff;
    color: #000;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------------------------------- Box and colors special */

hr {
    border: 0.5px solid #a5978b;
    margin-top: -5px;
    margin-bottom: 0;
}

/*------------------------------------------------------- Text: Headers and Paragraph */

h1 {
    font-family: "Chela One", serif;
	font-size: 2rem;
	text-align: left;
	display: block;
    color: #5a2a27;
    margin-bottom: 1em;
    margin-top: 1em;
}

h2 {
	font-weight: 600;
	text-align: left;
	font-size: 1.2rem;
	color: #99ccff;
	text-shadow: 0 0 2px black;
    margin-top: 2em;
}

h3 {
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
	color: #000;
    margin-top: 15px;
}

p {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------- Header + Navbar    */

#logo {
    font-family: "Chela One", serif;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 3px;
    padding-left: 15px;
}

header i {
    font-size: 1.5rem;
    margin-left: 15px;
    text-align: center;
}

.navbar {
    /*background-color: rgba(196,187,175,0.9);*/
    
    background-image: linear-gradient(to right, #3d0101, #bc2615);
}

.navbar-nav .nav-link {
    color: #fff;
}


.navbar-nav .active {
    color: #ff3300;
}


.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    
    color: #99ccff;
}

section {
    border-top: 75px solid transparent;
    margin-top: -75px;
    min-height: 100vh;
}

/*------------------------------------------------------- Section: Introduction    */

#introduction {
    margin-top: 0px;
}

/*------------------------------------------------------- Section: Input    */

#input-section {
    background-image: url("../images/bg-image-edit.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    background-clip: padding-box;
}

.input-wrapper {
	padding: 10px;
	margin-bottom: 15px;
	margin-right: 0;
	margin-left: 0;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
}

section i {
    font-size: 1.5rem;
    padding-right: 5px;
    padding-left: 5px;
}

label {
    margin: 0;
    color: #fff;
}

input[type=text],
input[type=number],
input[type=date],
input[type=time] {
	height: 2rem;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 0;
	border-radius: 5px;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input[type=radio] {
	margin-right: 5px;
}

.radio-label {
	margin: 0;
}

.short-field {
	max-width: 150px;
}

.short-label {
    width: 40px;
}

.dayCheck {
    margin-right: 5px;
}

.wrapper-center {       /*maybe delete*/
	text-align: center;
	margin-top: 30px;
}

.visOn {
    display: inline;
}

.visOff {
    display: none;
}

/*------------------------------------------------------- Section calendar    */

.btn {
    background-color: #bc2615;
    border-radius: 10px;
    min-width: 100px;
    margin: 5px;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    color: #fff;
    background-color: #ff3300;
}

.calendar-bg {
	width: 350px;
	display: inline-block;
	
}

.calendar-month {
	with: 315px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.week-day {
    font-weight: 600;
}

td {
    width: 45px;
    height: 45px;
	text-align: center;
}

.cell-marked {
    background-color: #ff3300;
}

.cell-outside {
    color: #ccc;
}

/*------------------------------------------------------- Footer    */

footer {
    padding-top: 15px;
    background-image: linear-gradient(to right, #bc2615, #3d0101);
    bottom: 0;
    padding: 15px;
    color: #fff;
	text-align: center;
}

footer > p {
    display: inline;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: #5c4742;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    padding-top: 3px; 
}
