body {
	font-family: "Blinker", sans-serif;
	font-weight: 300;
    font-size: 1.1rem;
	background-color: #fff;
    color: #333;
}

/*------------------------------------------------------- Box, color and buttons special */

/* --- making sure content is not under the footer when using navigation icons --- */
section {
    border-top: 75px solid transparent;
    margin-top: -75px;
}

.subsection-wrapper {
	padding: 10px;
	margin-bottom: 15px;
	margin-right: 0;
	margin-left: 0;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
}

.tabbed-subsection {
    border-radius: 0 15px 15px 15px;
}

.btn {
    width: 100px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    margin: 5px 0 5px 5px;
    font-weight: 600;
}

.btn-toggle {
    color: #333;
    background-color: #eee;
    border-radius: 20px 20px 0 0;
    margin: 10px 0 0 0;
    font-weight: 300;
}

.btn-toggle-active {
    background-color: #ddd;
    font-weight: 600;
}

.btn:hover {
    color: #fff;
    background-color: #A69D91;
}

.btns-right {
    display: block;
    text-align: right;
}

/*------------------------------------------------------- Text: Headers */

h1 {
    font-family: "Blinker", sans-serif;
	font-size: 2.5rem;
    color: #333;
	text-align: left;
	display: block;
    margin: 1rem 0;
    text-shadow: 0 0 3px #fff;
    padding: 40px 0 20px 0;
}

h2 {
	font-weight: 600;
	text-align: left;
	font-size: 1.2rem;
	color: #A69D91;
    margin-top: 2rem;
}

h3 {
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
	color: #000;
    margin-top: 15px;
}

/*------------------------------------------------------- Header + Navbar    */

.logo {
    font-family: "Chela One", serif;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 3px;
    padding-left: 15px;
    text-decoration: none;
}

#main-logo:hover {
    text-decoration: none;
    color: #fff;
}

header i {
    font-size: 1.5rem;
    margin: 0 5px 0 10px;
    text-align: center;
}

.navbar {
    background-color: #A69D91;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .active {
    color: #a7170e;
}

/*------------------------------------------------------- Section: Introduction    */

#introduction {
    margin-top: 0px;
}

.background-hero {
    min-height: 512px;
    background-image: url("../images/bg-home.jpg");
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat; 
}

/* --- making sure the text doesn't overlap the hero image --- */
.introduction-text {
    width: 30%;
}

/*------------------------------------------------------- Section: Input    */

#input-section {
    background-image: url("../images/bg-image-edit.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    background-clip: padding-box;
}

section i {
    font-size: 1.5rem;
    padding: 0 5px;
}

#input-section p {
    color: #fff;
    display: inline;
}

label {
    margin: 0;
    color: #fff;
}

input[type=text],
input[type=number],
input[type=date],
input[type=time] {
	height: 2rem;
    padding: 0 5px;
    margin: 5px 0;
	border-width: 0;
	border-radius: 5px;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input[type=radio] {
	margin-right: 5px;
    margin-top: 8px;
    float: left;
}

.radio-label {
	margin: 0;
    width: 90%;
}

.short-field {
	max-width: 150px;
}

.short-label {
    width: 40px;
}

.dayCheck {
    margin-right: 5px;
}

#goalDt {
    display: none;
}

/*------------------------------------------------------- Section calendar    */

#calendar-section .subsection-wrapper {
    background-color: #ddd;
}

#signout-google {
    font-size: 1rem;
    display: inline-block;
    width: auto;
    background-color: #ddd;
    color: #333;
    font-weight: 300;
    font-style: italic;
}

.fa-info-circle {
    font-size: 2rem;
    color: #A69D91;   
}

#status-display {
    width: 100%;
    text-align: left;
}

#summary {
    color: #a7170e;
    text-align: left;
}

#print-summary {
    color: #a7170e;
    text-align: left;
}

hr {
    border: 0.5px solid #a5978b;
    margin-top: -5px;
    margin-bottom: 0;
    width: 315px;
}

.calendar-bg {
	width: 350px;
	display: inline-block;
}

.calendar-month {
	max-width: 315px;
    margin: 0 auto 20px auto;
}

.week-day {
    font-weight: 600;
}

td {
    width: 45px;
    height: 45px;
	text-align: center;
}

.cell-marked {
    background-image: url("../images/calendar-mark.png"); 
    background-size: cover;
}

.cell-outside {
    color: #fff;
}

/* --- print schedule --- */
#print-schedule hr {
    border: 0.5px solid #777;
    margin: 2px 0;
    width: 100%;
}

#print-schedule h3 {
    text-align: left;
}

.col-padding {
    padding: 0;
}

#print-schedule .row {
    padding: 0 15px;
}

#print-schedule i {
    font-size: 1rem;
}

#print-introduction .logo {
    font-size: 1.5rem;
    color: #000;
    padding-left: 0;
    padding-right: 15px;
}

#print-introduction {
    text-align: center;
    display: none;
}

#calendar-section h2 {
    display: inline-block;
    color: #333;
}

/*------------------------------------------------------- Footer    */

footer {
    width: 100%;
    height: 45px;
    padding-right: 15px;
    text-align: center;
    background-color: #A69D91;
    color: #fff;
}

footer > p {
    display: inline;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 18px;
    color: #A69D91;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 3px;
}

/*------------------------------------------------------- Modal view (export warning)   */

.modal-content {
    border-radius: 10px;
}

/*------------------------------------------------------- Media Queries   */

@media screen and (max-width : 885px) {
    h1 {
        padding: 0;
        font-size: 2rem;
    }
}

@media screen and (max-width : 766px) {
    h2 {
        margin-top: 1.5rem;
    }

    #months {
        text-align: center;
    }
}

@media screen and (max-width : 575px) {
    .full-size-column {
        margin-top: 15px;
    }
}

@media screen and (max-width : 450px) {
    h1 {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }

    h3 {
	    font-weight: 300;
    }

    .logo {
        font-size: 1.8rem;
        padding-left: 0px;
    }

    header i {
        margin-left: 10px;
        text-align: center;
        font-size: 1rem;
    }

    .btn:hover {
        background-color: #333;
        color: #fff;
    }

    .background-hero {
        background-position: center bottom;
    }

    #introduction {
        position: relative;
    }

    .introduction-text {       
        bottom: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        border: 0;
        width: 95%;
        background-color: #fff;
    }

    section {
        border-top: 58px solid transparent;;
        margin-top: -58px;
    }

    /* --- calendar section --- */

    td {
        width: 37px;
        height: 37px;
    }

    .calendar-month,
    .calendar-bg {
	    width: 259px;
    }

    hr {
        width: 259px;
    }
}